# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite, DB
*.sqlite3
*.db

# Token, secrets, credentials
*.env
*.pem

# Cache
.cache/
*.egg-info/
*.egg
*.bak
*.swp
*.tmp

# Python build
build/
dist/
*.spec
